.wy-body-for-nav {
    position: relative;
}

.centered {
    text-align: center;
}

body {
    background-color: black;
    color: white;
}
div.document {
    background-color: #FFFFFF;
}

.wy-nav-content-wrap {
    background-color: #FFFFFF;
}

.wy-nav-content {
    background: #FFFFFF;
}

.wy-nav-top{display:none}

.wy-nav-top a {
    color: #5F4B8B;
    font-weight: 700;
}

.wy-breadcrumbs li a:first-child {
    padding-left: 0;
    color: #5f4b8b;
}

@media screen and (max-width: 800px) {
    .wy-nav-top {
        display: block;
        position: sticky;
        top: 0;
        background: #eeef;
    }
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    width: 200px;
}

.fa:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    color: #5F4B8B;
}

.wy-side-nav-search {
    background-color: #eeef;
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: #01192d;
}

.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: #01192d;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: #5F4B8B;
    font-size: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: .809em;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #5F4B8B;
    height: 32px;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}

.wy-menu-vertical a {
    font-size: 100%;
    color: #e96187;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: inherit;
}

.wy-menu-vertical a:hover {
    background-color: unset;
    opacity: 1;
}
  
.wy-menu-vertical li.current > a {
    background-color: #5F4B8B;
    color: white;
}
  
.wy-menu-vertical li.current > a span.toctree-expand {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
  
.wy-menu-vertical li.current > a span.toctree-expand:before {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
  
.wy-menu-vertical li.current > a span.toctree-expand:hover {
    color: white;
}
  
.wy-menu-vertical li.current > a:hover {
    background-color: #01192d;
    color: white;
}
  
.wy-menu-vertical li.current > a:hover span.toctree-expand {
    color: white;
}
  
.wy-menu-vertical .toctree-l1 {
    opacity: 0.8;
}
  
.wy-menu-vertical .toctree-l1:hover {
    opacity: 1;
    background-color: inherit;
}
  
.wy-menu-vertical li.toctree-l1.current {
    opacity: 1;
    background-color: inherit;
}
  
.wy-menu-vertical li.toctree-l1.current > a {
    border: 0px;
}
  
.wy-menu-vertical .toctree-l2:hover {
    background-color: #566673;
}
  
.wy-menu-vertical li.toctree-l2.current > a {
    background-color: #566673;
    color: white;
}
  
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background-color: #e4e7ea;
    color: #838383;
}
  
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
    color: #3d3d3d;
}
  
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover span.toctree-expand {
    color: #3d3d3d;
}
  
.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
    color: #3d3d3d;
}
  
.wy-menu-vertical li.toctree-l2 a {
    border: 0px;
    background-color: #5f4b8b59;
    color: #fcfcfc;
}
  
.wy-menu-vertical li.toctree-l2 a span.toctree-expand {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
  
.wy-menu-vertical li.toctree-l2 a span.toctree-expand:before {
    display: block;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
  
.wy-menu-vertical li.toctree-l2 a span.toctree-expand:hover {
    color: white;
}
  
.wy-menu-vertical li.toctree-l2 a:hover {
    background-color: #5f4b8b59;
    color: #fcfcfc;
}
  
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: white;
}
  
.wy-menu-vertical li.toctree-l3.current > a {
    background-color: #e4e7ea;
    color: #838383;
}
  
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background-color: #e4e7ea;
    color: #838383;
}
  
.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current > a {
    color: #3d3d3d;
}

.wy-side-scroll {
    background-color: #eeef;
}

.rst-content {
    color: #3d3d3d;
}


.rst-content .section ul li>:first-child {
    margin-top: 0;
    color: #5F4B8B;
}

.rst-content .section ul li>:first-child:hover{
    margin-top: 0;
    color: #8e79bd;
}

a {
    color: #5F4B8B;
}

/* a:hover { */
    /* color: #8e79bd; */
/* } */
  
/* a:visited { */
    /* color: #5F4B8B; */
/* } */

.rst-content .note {
    color: #003274;
    background: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: solid #d3d3d3;
}
  
.rst-content .note .admonition-title {
    display: none;
}

.rst-content .attentaion {
    color: #605000;
    background: #ffedcc52;
    padding: 1rem;
    margin-bottom: 1rem;
}

.rst-content .attentaion .admonition-title {
    background: #f0b37e82;
    display: block;
}
  
.rst-content .hint {
    color: #3D3D3D;
    background: #5f4b8b12;
    margin-bottom: 1rem;
}
  
.rst-content .hint .admonition-title {
    display: block;
    background: #a392c7bd;
}

.rst-content .highlight {
    background: #f5f5f5;
}

.git-ribbon {
    display: none;
}